/*COLORS*/
.bg-gray {
  background-color: #e7e7e7;
}
.bg-blue {
  background-color: #3282f7;
}
.bg-green {
  background-color: #68d9a4;
}
.bg-red {
  background-color: #ed6454;
}
.white {
  color: #fff !important;
}
.bg-silver {
  background-color: #c7bebe;
}
#search-input::-webkit-input-placeholder {
  color: #000 !important;
  opacity: 0.25 !important;
}
.sort-input::-webkit-input-placeholder {
  color: #fff !important;
  opacity: 0.5 !important;
}

/*SIZING*/
.max-height {
  max-height: 400px;
}

.p-0 {
  padding: 0px;
}

/*FONT FAMILY*/
body {
  font-family: "Lato", sans-serif !important;
}

/*INPUT GROUP*/
.input-group-text {
  background-color: transparent !important;
  border: none !important;
}

.form-control {
  background-color: transparent !important;
  border: none !important;
}
.form-control:focus {
  background-color: transparent !important;
  border-color: none !important;
  box-shadow: none !important;
}

.arrowUp {
  cursor: pointer;
}
/*BUTTONS*/
.btn-tag {
  height: 47px;
  width: 147px;
  border-radius: 5px;
  border: none;
}

button p {
  color: #ffffff;
  margin: 0;
}

.btn-sort {
  height: 69px;
  width: 170px;
  border-radius: 5px;
  border: none;
}

/*HEADER*/

#search-icon {
  cursor: pointer;
}

/*CONTAINER*/
.container-lg {
  padding: 0 !important;
}
.cards__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: stretch;
}
.card-width {
  width: 32%;
  min-width: 300px !important;
}
.body-minWidth {
  min-width: 300px;
}
.ingredient-list{
  min-width: 160px;
}
.recipes {
  margin-top: 8em;
}

.recipes__picture {
  object-fit: cover;
  height: 178px;
}

.card__footer {
  max-height: 200px;
}
.card__footer--description {
  text-align: justify;
  overflow: hidden;
  text-overflow: clip ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  height: 170px;
}
/*DISPLAY*/
.none {
  display: none !important;
}
.flex {
  display: flex;
}

/*Z-INDEX*/
.z-up {
  position: absolute;
  z-index: 9;
}

/*List of ingredients, ustensils, appareils*/

.list {
  cursor: pointer;
  min-width: 180px !important;
}
.list:hover {
  transform: scale(1) translate(10px);
  transition: 200ms;
  overflow: unset;
  white-space: unset;
}

/*tags*/

.tag-text {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1400px) {
  .cards__container {
    justify-content: space-between;
  } 
  .card-width {
    width: 45%;
    min-width: 300px !important;
  }
}

@media (max-width: 865px) {
  .card-width {
    width: 100%;
    min-width: 300px !important;
  }
}

@media (max-width: 600px) {
  .recipes{
    margin-top: 20em;
  }
}